<mat-toolbar color="primary">
  <mat-toolbar-row fxLayout="row">
    <span>Forget Password?</span>
    <span class="spacer"></span>
    <button class="mat-dialog-close" mat-icon-button mat-dialog-close="">
      <mat-icon>close</mat-icon>
    </button>
    <span></span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-dialog-content class="mat-typography">
  <form [formGroup]="forgetPasswordForm">
    <div fxFlex fxLayout="column">
      <mat-form-field appearance="outline" fxFlex>
        <mat-label>Email</mat-label>
        <input matInput formControlName="email" required>
        <mat-error *ngIf="forgetPasswordForm.controls.email.touched && forgetPasswordForm.controls.email.invalid">
          <span *ngIf="forgetPasswordForm.controls.email.errors.required">This is Mandatory field</span>
          <span *ngIf="forgetPasswordForm.controls.email.errors.pattern">This is Invalid </span>
        </mat-error>
      </mat-form-field>
    </div>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="center">
  <button mat-raised-button color="primary" type="submit" (click)="handleSubmit()"
    [disabled]="!(forgetPasswordForm.valid && forgetPasswordForm.dirty)">
    <mat-icon>send</mat-icon> Send Password
  </button>
  <button mat-raised-button color="warn" mat-dialog-close>
    <mat-icon>close</mat-icon>Close
  </button>
</mat-dialog-actions>
